@font-face {
  font-family: "iconfont";
  /* Project id 4750071 */
  src: url('./iconfont.woff2') format('woff2'),
    url('./iconfont.woff') format('woff'),
    url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fankui:before {
  content: "\e738";
}

.icon-anquan:before {
  content: "\ec4d";
}

.icon-shezhi:before {
  content: "\e60f";
}

.icon-github:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-fenxiang:before {
  content: "\ee34";
}

.icon-daimamoban:before {
  content: "\e648";
}

.icon-star:before {
  content: "\e711";
}

.icon-fork:before {
  content: "\e623";
}

.icon-click:before {
  content: "\e84e";
}